.destaques h2 {
    color: red;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.destaque:hover {
    background-color: red !important;
}

.destaque:hover h2 {
    color: yellow;
}

.destaque:hover p {
    color: #fff;
}